body {
    background-color: rgb(0, 205, 255);
    font-family: "Raleway", monospace;
  }
  #robloxnoob {
    border: 4px ridge rgb(255, 255, 0);
    width: 300px;
  }

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #container {
    position: relative;
  }
  
  #old-website {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    z-index: 2;
  }
  
  #new-website {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }
  
  #container.show-new #old-website {
    opacity: 0;
  }
  
  #container.show-new #new-website {
    opacity: 1;
    z-index: 2;
  }
  